@model MVC.Helpers.Pager<MVC.Models.ProductoDto>
@{
    ViewData["Title"] = "Producto";
}
<center>
    <h2>@ViewData["Title"]</h2>
</center>

<div class="container show">
    <a id="button" asp-controller="Producto" asp-action="SavePage" class="btn btn-primary">Guardar</a>
    <table class="table table-bordered table-striped ">
        <thead>
            <tr class="table-dark" >
                <th scope="col">Nombre</th>
                <th scope="col">Codigo</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var a in @Model.Registers)
            {
                <tr>
                    <td>@a.Nombre</td>
                    <td>@a.Codigo</td>
                    <td>@a.Precio</td>
                    <td>@a.Cantidad</td>
                    <td>
                        @using(Html.BeginForm("Delete", "Producto", new {id = @a.Id}, FormMethod.Post)){
                            @Html.AntiForgeryToken()
                            <input type="submit" value="Eliminar" class="btn btn-danger"> 
                        }
                    </td>
                </tr>
            }
        </tbody>

    </table>
    @if (Model.HasPreviousPage)
    {
        <button>Atras</button>
    }
    else if (Model.HasNextPage)
    {
        <button>Adelante</button>
    }
</div>